/*d1{
    background-color: red;
    height: 100px;
    width: 100px;
}
#d2{
    background-color:blue;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 108px;
 
    

}
#d3{
    background-color: yellow;
    height: 100px;
    width: 100px;
    position: absolute;
    left:208px ;
    top: 208px;
    
}*/